*.aux
*.fdb_latexmk
*.fls
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
.mtc
*.out
*.bak
.DS_Store
_minted-thesis/
_minted-yaml/
images/.DS_Store
*.bcf
*.lol
*.mw
*.nlo
*.pdf
thesis.txt
*.xdy
*.run.xml
*blx.bib
*.synctex.gz
